@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-dmSans: var(--font-dmSans);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #292929;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dmSans), Arial, Helvetica, sans-serif;
}

.homegradient {
  background: linear-gradient(
    90deg,
    #14205a 2.55%,
    rgba(31, 50, 141, 0.65) 62.8%,
    rgba(43, 68, 192, 0.3) 86.86%
  );
}

.homegradient-0deg {
  background: linear-gradient(
    89.82deg,
    #14205a 2.69%,
    rgba(31, 50, 141, 0.65) 81.66%,
    rgba(43, 68, 192, 0.3) 99.85%
  );
}
